[user]
	name = Alexandra DeWit
	email = alexa.dewit@gmail.com

[pull]
	rebase = true
	default = current


[alias]
	pushf = push origin --force-with-lease

[push]
	default = current

[core]
	excludesFile = ~/.gitignore
	editor = vim

[diff]
  tool = vscode

[difftool "vscode"]
  cmd = code --wait --diff $LOCAL $REMOTE

[merge]
  tool = vscode

[mergetool "vscode"]
  cmd = code --wait $MERGED

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
